.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.movie-list {
  list-style: none;
  padding: 0;
}

.movie-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-item h2 {
  margin-top: 0;
}

.movie-item p {
  margin: 5px 0;
}
